
a.active {
  text-decoration: none;
}
.form-control:focus {
  box-shadow: 0px 0px 17px 3px rgb(233, 191, 114);
}
.search {
  color: black;
  background-color: rgb(233, 191, 114);
  border: none;
}
.search:hover {
  background-color: rgb(233, 191, 114) !important;
  color: black !important;
  font-weight: bold;
}
@media (max-width: 600px) {
  .landtext {
    font-size: 15px;
  }
  .landtitle {
    margin-bottom: 35px;
  }
}
/* CSS for iPad in portrait orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landtext {
    font-size: 25px;
  }
}

/* CSS for iPad in landscape orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .landtext {
    font-size: 25px;
  }
  .landtitle {
    font-size: 50px;
  }
}

.navbar-toggler-icon {
  border-radius: 5px;
}
